:root {
    --variable-collection-preto-dif: rgba(38, 38, 38, 1);
    --variable-collection-amarelopadrao: rgba(255, 218, 7, 1);
    --variable-collection-pretodif: rgba(38, 38, 38, 1);
    --variable-collection-white: rgba(255, 255, 255, 1);
    --variable-collection-darkyellow: rgba(199, 161, 30, 1);
}
